div.item-card {
    box-shadow: inset -2px 2px 0px 0px #d3d3bd, -5px 5px 6px #d3d3bd;
    cursor: pointer;
    border-radius: 0.3rem;
    background-color: beige;
    margin: .5rem;

}
.item-card-title {

}