
.row {
    width: auto; 
    max-width: 100%
}
div.small-jira-item {
    background-color: honeydew;
    border-radius: .5rem;
    padding: 1.3rem;
    margin: .5rem;
    box-shadow: inset -2px 2px 0px 0px #d3d3bd, -5px 5px 6px #d3d3bd;
}
.item-card-comments, .item-card-link {
    width: 50%;
}
