.brand-logo {
    max-width: 35px;
    height: auto;
    margin: 0 .5rem .8rem .5rem;
}
.brand-name h1 {
    margin-top: .5rem;
    display: inline-block;
    color: black;
}
a {
    text-decoration: none;
}
.small-jira-item {
    background-color: honeydew;
     border-radius: .5rem;
      padding: 1.3rem;
}
