
div.item-list-container {
    background-color: #dee2e6;
    padding: 0 1rem 1rem 1rem;
}
.small-jira-item {
    background-color: honeydew;
     border-radius: .5rem;
      padding: 1.3rem;
}
.backTop-logo {
    border-radius: 3rem;
    background-color: rgb(250, 252, 140);
    max-width: 45px;
    padding: .3rem;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    cursor: pointer;
}