/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
body {
    background-color: #dee2e6;
}
hr {
    color: darkgray;
}
header {
    border: 1px solid honeydew;
    border-radius: 0.3rem;
    background-color: rgb(243, 253, 243);
}